.container {
  max-width: 1450px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
  // @media screen and (max-width: 499px) {
  //   max-width: 469px;
  // }
}
body {
  background-color: black;
}
