@media screen and (max-width: 1350px) {
  .header-item:nth-child(2) {
    margin-left: 50px;
  }
  .header-item_hed:nth-child(1) {
    margin-right: 50px;
  }
  .hero-button {
    width: 100%;
    margin-top: 40px;
    // margin-right: 10px;
  }
  .hero-button_order {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .hero-container {
    margin-right: 20px;
  }
  .container-hero {
    padding-bottom: 50px;
  }
  .hero-img {
    width: 400px;
    height: 525px;
    margin-top: 187px;
  }
  .hero-container::before {
    display: none;
  }
  .produkt-img {
    width: 400px;
    height: 525px;
  }
  .box-img::before {
    left: 221px;
  }
  .portfolio-item:nth-child(n + 2) {
    margin-left: 22px;
  }
  .portfolio-card {
    width: 100%;
    border-radius: 0;
  }
  .pay-item {
    display: block;
    width: 450px;
    height: 500px;
    margin: 10px;
  }
}
