@media screen and (max-width: 1350px) {
  .header-item:nth-child(2) {
    margin-left: 50px;
  }
  .header-item_hed:nth-child(1) {
    margin-right: 50px;
  }
  .hero-titl {
    width: 100%;
    margin-top: 100px;
  }
  .hero-button {
    width: 100%;
    margin-top: 40px;
    // margin-right: 10px;
  }
  .hero-button_order {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .hero-container {
    margin-right: 20px;
  }
  .container-hero {
    padding-bottom: 50px;
  }
  .hero-img {
    width: 400px;
    height: 525px;
    margin-top: 100;
  }
  .hero-container::before {
    display: none;
  }
  .produkt-img {
    width: 400px;
    height: 525px;
  }
  .box-img::before {
    left: 221px;
  }
  .portfolio-item:nth-child(n + 2) {
    margin-left: 22px;
  }
  .portfolio-list {
    display: flex;
    justify-content: space-evenly;
  }

  .portfolio-card {
    width: 100%;
    border-radius: 0;
  }
  .pay-item {
    // display: block;
    // justify-content: space-around;
    width: 450px;
    height: 500px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding: 0;
    // margin: 10px;
  }
  .pay-list {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 992px) {
  .header-img {
    height: 72px;
    width: 204px;
  }

  .logo::before {
    display: none;
  }
  .header-item:nth-child(2) {
    margin-left: 30px;
  }
  .header-item_hed:nth-child(1) {
    margin-right: 30px;

    // justify-content: center;
  }
  .header-item_hed {
    padding-top: 25px;
  }
  .header-item {
    padding-top: 25px;
  }
  .header-nav {
    align-items: center;
  }
  .hero-img {
    width: 300px;
    height: 425px;
    margin-top: 100;
  }
  .hero-titl {
    margin-top: 80px;
    font-size: 30px;
  }
  .hero-text {
    margin-top: 10px;
    font-size: 19px;
  }
  .hero-button {
    margin-top: 20px;
    font-size: 20px;
  }

  .hero-button_order {
    margin-top: 20px;
    font-size: 20px;
  }
  .box-img::before {
    display: none;
  }
  .produkt-img {
    width: 300px;
    height: 425px;
    margin-top: 70px;
  }
  .produkt-container {
    width: 380px;
    padding-top: 70px;
  }
  .produkt-button {
    width: 100%;
  }
  .container-produkt {
    padding-bottom: 70px;
  }
  .portfolio-box_img {
    padding-bottom: 73px;
  }
  .portfolio-item_img {
    display: none;
  }
  .portfolio-item_text {
    width: 100%;
    // height: 100%;
  }
  .portfolio-card {
    //   width: 246px;
    width: 100%;
    height: 100%;
  }
  .portfolio-button {
    margin-top: 73px;
    margin-bottom: 70px;
  }
  .pay-item {
    // display: block;
    // justify-content: space-around;
    width: 330px;
    height: 500px;
  }
  .pay-button {
    margin-top: 70px;
    margin-bottom: 72px;
  }
  .pay-title::before,
  .pay-title::after {
    display: none;
  }
  .footer-logo {
    padding-bottom: 70px;
    width: 300px;
  }
  .footer-box {
    display: inline-flex;
    flex-direction: column;
    // justify-content: space-between;
  }
  .footer-img {
    // display: flex;
    width: 130px;
    // justify-content: flex-start;
    padding-right: 0;
  }
  .footer-list {
    padding-left: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header-item {
    // margin-left: 50px;
    display: block;
    // margin: 0;
  }
  .header-item:nth-child(2) {
    margin-left: 0;
  }
  .header-item_hed {
    display: block;
    // flex-direction: column-reverse;
    // margin: 0;
  }
  .header-item_hed:nth-child(1) {
    margin-right: 0;
  }
  .hero-img {
    display: none;
  }
  .hero-button_box {
    display: flex;
  }
  .hero-button {
    margin-right: 15px;
  }
  .produkt-img {
    display: none;
  }
  .produkt-container {
    text-align: center;
    width: 100%;
  }
  .produkt-text-list {
    list-style: none;
    padding: 0;
  }
  .produkt-titl {
    padding: 0;
  }
  .produkt-text {
    padding: 0;
  }
  .produkt-text_titl {
    padding: 0;
  }
  .produkt-text_text {
    padding-left: 0;
  }

  .produkt-button {
    width: 75%;
    height: 20%;
  }
  .portfolio-item:nth-child(3) {
    display: none;
  }
  .pay-item {
    // display: block;
    // justify-content: space-around;
    width: 230px;
    height: 270px;
    margin: 15px;
  }
  .pay-box-back {
    display: none;
  }
  .pay-title_h3 {
    padding-top: 10px;
  }
  .pay-text {
    width: 100%;
  }
  .pay-title {
    margin-bottom: 25px;
  }
  .footer-list {
    display: block;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-item {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;
  }
  .footer-img {
    display: none;
  }
  .footer-title {
    display: inline-block;
    padding-right: 10px;
  }
  .hero-button_order:focus,
  .hero-button_order:hover {
    font-size: 21px;
  }
  .hero-button:focus,
  .hero-button:hover {
    font-size: 21px;
  }
}
@media screen and (max-width: 450px) {
  .header-button {
    display: flex;
  }
  .header-item {
    display: none;
  }
  .header-item_hed {
    display: none;
  }
  .header-img {
    padding: 0;
    width: 150px;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    // text-align: center;
  }
  .hero-titl {
    margin-top: 25px;
  }
  .container-hero {
    padding-bottom: 20px;
  }
  .hero-button_box {
    display: block;
  }
  .hero-button {
    width: 100%;
  }
  .hero-button_order {
    width: 100%;
  }
  .produkt-button {
    font-size: 20px;
    width: 85%;
    height: 12%;
  }
  .produkt-container {
    padding-top: 15px;
  }
  .container-produkt {
    padding-bottom: 20px;
  }
  .portfolio-box_img {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-list {
    // flex-wrap: wrap;
    // flex-direction: column;
    display: block;
  }
  .portfolio-item {
    // flex-wrap: wrap;
    display: block;
    width: 77%;
    padding: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-button {
    font-size: 20px;
    width: 70%;
    height: 15%;
    margin-bottom: 20px;
  }
  .pay-title {
    font-size: 30px;
  }
  .pay-button {
    width: 75%;
  }
  .pay-text {
    font-size: 16px;
  }
  .pay-title_h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
  }
  .footer-logo {
    width: 80%;
  }
  .footer-item_text {
    padding: 0;
    padding-bottom: 15px;
  }
}
