.pay-container {
  padding-top: 39px;
}
.pay-title_box {
  display: block;
  position: relative;
}
.pay-title {
  font-family: Days One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 61px;
  text-align: center;

  color: #faf0e6;
  // position: relative;

  margin-bottom: 147px;
  // animation: neon 15s infinite;
  &::after {
    content: "";
    position: absolute;
    width: 171px;
    height: 40px;
    bottom: -20px;
    right: 537px;
    background-image: url("./../../../images/right.svg");
  }
}

.pay-title_h3 {
  font-family: Sansation;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  /* identical to box height */
  text-align: center;
  color: #faf0e6;
  margin: 0;
  padding-bottom: 33px;
}
.pay-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  // align-items: center;
  color: #c1bfc3;
  width: 260px;
  // padding-left: 55px;
  margin: 0 auto;
}

.pay-title::before {
  content: "";
  position: absolute;
  width: 171px;
  height: 40px;
  top: -20px;
  left: 640px;
  background-image: url("./../../../images/left.svg");
}
.pay-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  // padding-left: 139px;
  margin: 0;
  padding: 0;
}
.pay-item {
  width: 318px;
  height: 509px;
  background-color: rgba(146, 146, 146, 0.2);
  backdrop-filter: blur(6px);
  margin-right: 40px;
  backdrop-filter: blur(6px);

  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: filter 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    border 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &:hover,
  &:focus {
    border: 1px solid #e761ca;
    filter: drop-shadow(0px 0px 15px #f09bdd);
  }
}
.pay-item:nth-child(4n) {
  margin-right: 0;
}

.pay-box-back {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  display: flex;

  justify-content: center;

  align-items: center;

  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  // margin-left: 84px;
}
.pay-img_green {
  background: linear-gradient(45deg, #2c613e 0%, #0bda51 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 150px;
}
.pay-img_yellow {
  background: linear-gradient(45deg, #612f2c 0%, #da870b 100%);
  box-shadow: 0px 0px 8px #da870b;
  border-radius: 150px;
}

.pay-img_pink {
  background: linear-gradient(45deg, #612c4f 0%, #da0b6e 100%);
  box-shadow: 0px 0px 8px #da0b6e;
  border-radius: 150px;
}
.pay-img_blue {
  background: linear-gradient(45deg, #562c61 0%, #410bda 100%);
  box-shadow: 0px 0px 8px #3b1cff;
  border-radius: 150px;
}
.pay-button {
  font-family: Sansation;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;

  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;

  width: 252px;
  height: 55px;

  background: #ac3e94;
  border: 3px solid #ac3e94;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px #ac3e94;
  border-radius: 70px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 102px;
  transition: filter 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    font-size 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    border 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.pay-button:focus,
.pay-button:hover {
  filter: drop-shadow(5px 5px 45px #ac3e94);
  //  font-size: 26px;
}
